.ipynb_checkpoints
.Rproj.user
__pycache__
Ref
lib
Data
React
SpatialTemporal
CalculatedData/*
config.py
"*.png"

Version1/Data

Version3/GridSearch
Version3/Calculated
Version3/Component6Undersample
Version3/KmodeData
Version3/MapperGraphs
Version3/Data
Version3/BestK
Version3/Component6Car
Version3/Component6FullData
Version3/Component7Car
Version3/Component7CarOnly
Version3/Component8FullData
Version3/Component12Pass
Version3/Component15Car
Version3/Component11Pass
Version3/Component15Car
Version3/Map
Version3/Plots

Version4/GridSearch
Version4/Component8Car
Version4/Component9Motor
Version4/Data

ForMatrix/Output
ForMatrix/CalculatedData
