.ipynb_checkpoints
Data
Ref
CalculatedData/*
__pycache__
.ipynb
config.py
Version3/GridSearch
Version3/Calculated
Version3/Component6Undersample
Version3/KmodeData
Version3/MapperGraphs
Version3/Data
Version3/Component11Pass